*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.letras{
    padding:  10px;
    margin: 10px;
    font-size: 30px;
    border-Radius: 10px;
}

.title h3{
    text-align: center;
    margin: 10px 0px;
    
}

.barra #input1 {
    width: 80px;
    margin-right: 5px;
    font-size: 30px;
}

#input2 {
    margin-left: 5px;
    font-size: 20px;
}

